.home-box {
    position: fixed;
    background-color: #FAFAFA;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.feed {
    height: 100%;
    width: 250px;
    margin-top: 20px;
    margin-left: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts {
    list-style-type: none;
    border-radius: 5px;
    width: 240px;
    height: 240px;
    padding-bottom: 50px;
}

.post-profile-pic {
    width: 25px;
    height: 25px;
    padding: 4px;
}

.post-profile-name {
    font-size: 8px;
    padding-top: 6px;
    font-weight: 600;
}


.post {
    margin-top: 10px;
    display: flex;
    width: 100%;
    border-radius: 0;
}

li {
    border-radius: 5px;
    border: 1px solid #EDEDED;
    margin: 10px 0;
}

.heart-btn {
    margin-left: 4px;
    width: 15px;
    cursor: pointer;
}

.comment-btn {
    margin-bottom: 1.1px;
    margin-left: 10px;
    padding: 0.5px;
    width: 13px;
    cursor: pointer;
}

.likes-by {
    margin-left: 5px;
}

.send-btn {
    width: 13px;
    margin-left: 9px;
    cursor: pointer;
}

.input-box {
    width: 180px;
    height: 17px;
    overflow: hidden;
    resize: none;
    font-size: 8px;
    margin-top: 7px;
    border: none;
    margin-left: 5px;
    background: none;
}

.input-btn {
    float: right;
    font-size: 9px;
    font-weight: bold;
    margin-right: 7px;
    width: full;
    color: #0095F6;
    background: none;
    margin-top: 5px;
    border: none;
    cursor: pointer;
}

.comment {
    width: 225px;
    height: 10px;
    font-size: 7px;
    margin-left: 5px;
    word-break: break-all;
}

.pic-description {
    margin: 5px;
}